<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
<body>




<%= render :partial => "header"%>




<div id="main">
    <!img src="main-img.jpg">
	<%= image_tag 'main-img.jpg'%>
</div>


<div id="article_wrap">

    <div id="article_list">
	<h1>タグ一覧ページ</h1>







		<%@commentname.each do |commentname|%>
			
		<h1>
		<%=commentname%>
		</h1>
		<div>
		<%@comment.each do |comment|%>
			<%if comment.body==commentname%>
			<h2><%= link_to comment.page.title,page_path(comment.page.id) %></h2>
			<p><%= comment.page.updated_at.to_s(:updated_at)%></p>
			<%if comment.page.author==@user%>
			<%if user_signed_in?%>
			<p><a>
			<%=link_to '編集',edit_page_path(comment.page.id) %>
			<%=link_to '削除',page_path(comment.page.id),method: :delete %>
			<%=link_to 'タグ追加', page_path(comment.page.id)%>
			</a></p>
			<%end%>
			<%end%>
			<p><a>
			[タグ]
			<% comment.page.comments.each do |comment2|%>
				<%=comment2.body%>
			<%end%>
			</a></p>
			<%end%>
			<%end%>

		
		</div>

		<%end%>







    </div>

	<%= render :partial => 'side'%>
<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>
