<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
<body>

<%= render :partial => 'header'%>


<div id="title">
    <div>
		<p><%=@page.updated_at.to_s(:updated_at)%> 書いた人:<%=@page.author%></p>
		

        <h1><%=@page.title%></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
		<%=@page.body%>
    </div>


<%=render :partial => 'side'%>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>





