<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
<body>

<%= render :partial => 'header'%>


<div id="title">
    <div>
		<p><%=@page.updated_at.to_s(:updated_at)%> 書いた人:<%=@page.author%></p>
		

        <h1><%=@page.title%></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
		<%=@page.body%>
		<h3>
		<%="[タグ]"%>
		</h3>
		<!%@page.comments.all.includes(:page).each do |comment|%>
		<%@page.comments.each do |comment|%>
		<p>
		<!%if comment.body=="aaa"%>
		<%=comment.body%>

		<%=link_to "[削除]",page_comment_path(@page,comment.id),method: :delete%>
		<!%end%>
		</p>
		<%end%>
	<h3>
		<%= form_for [@page,@page.comments.build] do |f|%>
		<%=f.label "タグ追加"%>
		<%=f.text_field :body%>
		<%=f.submit%>
		<%end%>



	</h3>

	</div>


	</div>




<%=render :partial => 'side'%>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html>





